<div class="TopPage">
  <header>
    <ul>
      <li class="nav_logo"><a href="/">Cook Bot</a></li>
      <li class="nav_link">
        <%= link_to(new_user_session_path) do %>
          <i class="fas fa-home fa-fw"></i>Log in
        <% end %>
      </li>
      <li class="nav_link">
        <%= link_to(new_user_registration_path) do %>
          <i class="fas fa-sign-in-alt fa-fw"></i>Sign in
        <% end %>
      </li>
    </ul>
  </header>
  <div class="container animate__animated animate__fadeIn">
    <div class="TopPage_contents">
      <h1>Cook Bot</h1>
      <%= link_to "レシピを探す", new_user_registration_path, class: "btn Toppage_contents_btn" %>
    </div>
  </div>
</div>
