<div class="TopPage">
  <header>
    <ul>
      <li class="nav_logo"><a href="">Cook Bot</a></li>
      <li class="nav_link"><a href=""><i class="fas fa-home fa-fw"></i>Log in</a></li>
      <li class="nav_link"><a href=""><i class="fas fa-sign-in-alt fa-fw"></i>Sign in</a></li>
    </ul>
  </header>
  <div class="container">
    <div class="TopPage_contents">
      <h1>Cook Bot</h1>
      <%= link_to "レシピを探す", new_user_session_path, class: "btn Toppage_contents_btn" %>
    </div>
  </div>
</div>
