<div class="UserShowPage">
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
        <%= @user.name %>
        <%= @user.speciality %>
        <%= @user.self_introduction %>
      </div>
    </div>
  </div>
</div>