header.CommonHeader {
    background-color: black;
    opacity: 0.9;
  ul {
    display: flex;
    justify-content: flex-start;
    color: white;
    list-style: none;
    height: 70px;
    li {
      line-height: 70px;
      a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        i {
          margin-right: 5px;
        }
      }
    }
    li.nav_link {
      margin-right: 50px;
      a:hover {
        color: brown;
      }
    }
    li.nav_btn {
      font-size: 30px;
      margin-right: 20px;
    }
    li.nav_logo a {
      margin-left: 50px;
      font-size: 35px;
    }
  }
  ul li:nth-of-type(2) {
    margin-left: auto;
  }
}

@media screen and (max-width: 1000px) {
  header.CommonHeader {
    ul {
      display: block;
      li.nav_link {
        background-color: gray;
        opacity: 0.6;
        width: 250px;
        height: 150%;
        padding-left: 20px;
        position: absolute;
        top: 0;
        a {
          color: white;
        }
      }
      li.nav_btn {
        text-align: right;
        margin: -75px 15px 0 0;
        color: white;
      }
      li.nav_logo a {
        margin-left: 15px;
        font-size: 30px;
      }
    }
  }
}
