.signupPage {
  &_title {
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    color: chocolate;
  }
  form div.form-group {
    margin: 0 250px 20px 250px;
    label {
      margin-bottom: 10px;
      margin-left: 15px;
      font-size: 25px;
      color: darkgray;
    }
    input.form-control {
      border: none;
      border-bottom: 1px solid darkgray;
    }
    div.form-check {
      margin-top: 15px;
      margin-left: 15px;
      label {
        font-size: 15px;
        margin: 0;
      }
    }
    input#file_photo {
      margin-top: 20px;
      font-size: 15px;
    }
    div.userImgPreview {
      margin: 0 auto;
      display: none;
      text-align: center;
      &.is-active {
        display: block;
      }
      img.userImgPreview_content {
        height: 100px;
      }
    }
  }
  div.text-center {
    input.submitBtn {
      font-size: 25px;
      background-color: brown;
      color: white;
      border-radius: 15px;
      padding: 10px 20px;
      &:hover {
        opacity: 0.7;
      }
    }
    a {
      display: block;
      margin-top: 30px;
      margin-bottom: 20px;
      color: brown;
    }
  }
}

@media screen and (max-width: 500px) {
  .signupPage form div.form-group {
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 1200px) {
  .signupPage form div.form-group {
    margin: 0 0 25px 0;
  }
}