.TopPage {
  background-image: url("/images/top_image.jpg");
  width: 100%;
  height: 1000px;
  background-size: cover;
  opacity: 0.8;
    header {
      background-color: black;
      opacity: 0.9;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      color: white;
      list-style: none;
      height: 70px;
      li {
        line-height: 60px;
        a {
          color: white;
          font-size: 20px;
          i {
            margin-right: 5px;
          }
        }
      }
      li.nav_link {
        margin-right: 50px;
      }
      li.nav_logo a {
        font-size: 35px;
      }
    }
    ul li:nth-of-type(2) {
      margin-left: auto;
    }
    &_contents {
      margin-top: 420px;
      h1 {
        font-size: 100px;
        color: #000;
      }
      a.Toppage_contents_btn {
        display: inline-block;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 95px;
        color: cornsilk;
        background-color: brown;
        border-radius: 15px;
        height: 60px;
        width: 220px;
        line-height: 45px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }