.UserShowPage {
  h2 {
    font-size: 55px;
    text-align: center;
    background-color: brown;
    height: 80px;
    line-height: 105px;
    letter-spacing: 3px;
    font-style: oblique;
  }
  .container {
    color: white;
    margin-top: 60px;
    padding: 10px;
    background-color: brown;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    font-family: serif;
  }
  &_main {
    margin: 10px;
    border: double 5px #FFD700;
    height: auto;
    padding-bottom: 45px;
  }
  .row {
    height: 310px;
    margin-right: 0;
    margin-left: 0;
  }
  &_UserImage {
    margin-left: 125px;
    margin-top: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border: 1px solid white;
    max-width: 350px;
    max-height: 325px;
    height: auto;
  }
  &_Profile {
    ul {
      list-style: none;
      font-size: 23px;
      margin-top: 30px;
      margin-right: 80px;
      li.UserItem {
        margin-bottom: 15px;
        span {
          display: inline-block;
          margin: 10px 0 0 30px;
        }
      }
      li:nth-child(3) {
        margin-top: 20px;
        display: block;
        overflow: auto;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .UserShowPage {
    h2 {
      font-size: 45px;
    }
    .container {
      margin-top: 110px;
      width: 96%;
    }
    &_main {
      .col-6 {
        flex: none;
        max-width: 100%;
      }
    }
    &_UserImage {
      display: block;
      margin: 30px auto 0 auto;
      max-width: 150px;
      max-height: none;
    }
    &_Profile {
      ul {
        font-size: 15px;
        margin-top: 30px;
        margin-right: 0;
        li:nth-child(3) span {
          margin: 10px 0 0 5px;
          display: block;
          overflow: auto;
        }
      }
    }
  }
}
